<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FootlooseFSContext" connectionString="Data Source=(LocalDB)\FootlooseDb;AttachDbFilename=|DataDirectory|\FootlooseFS.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MongoDBConectionString" value="mongodb://localhost" />
    <add key="MongoDBDatabaseName" value="footloosefs" />
    <add key="DataDirectory" value="C:\Users\Peter\Source\Repos\FootlooseFinancialServices\Data"/>
  </appSettings>
</configuration>