<div class='alert alert-success' data-ng-show="isUpdated">Your password has been updated</div>

<div class='alert alert-danger' data-ng-show="isError">{{ ErrorMessage }}</div>

<form ng-hide="isUpdated">
    <div class="form-group">
        <label for="oldPassword">Enter old password</label>
        <input type="password" class="form-control" id="oldPassword" placeholder="Old password" ng-model="data.OldPassword">
    </div>
    <div class="form-group">
        <label for="newPassword">Enter new password</label>
        <input type="password" class="form-control" id="newPassword" placeholder="New password" ng-model="data.NewPassword">
    </div>
    <div class="form-group">
        <label for="confirmNewPassword">Confirm new password</label>
        <input type="password" class="form-control" id="confirmNewPassword" placeholder="Confirm new password" ng-model="data.ConfirmNewPassword">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>    
</form>

<button type="button" class="btn btn-default" ng-show="isUpdated" ng-click="back()">Back</button>

<div class="progress" style="margin-top:50px;margin-left:auto;margin-right:auto;width:50%;" data-ng-show="isBusy">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    </div>
</div>    