@model FootlooseFS.Models.PersonLogin

<script>
    function save() {
        $.ajax({
            url: serverRoot + "/Person/Save",
            type: "POST",
            data: $("form").serialize(),
            contentType: "application/x-www-form-urlencoded",
            async: true,
            success: function (data, textStatus, jqXHR) {
                // Display the success messsage
                var html = "<div class='alert alert-success'>" + data.Message + "</div>";
                $('#divSaveMessage').html(html);

                // Update the record IDs
                $('input[name=personID]').val(data.PersonID);
                $('input[name=homeAddressID]').val(data.HomeAddressID);
                $('input[name=workAddressID]').val(data.WorkAddressID);
                $('input[name=altAddressID]').val(data.AlternateAddressID);

                setReloadRequired();
            },
            error: function (jqXHR, textStatus, errorThrown) {
            }
        });
    }
</script>

<button type="button" class="btn btn-primary" onclick="save()">Save changes</button>

<form role="form">
    @Html.AntiForgeryToken()

    <div id="divSaveMessage" style="margin-top:5px;" />

    <table>
        <tr>
            <td style="vertical-align:top;">
                <div class="form-group">
                    <label for="loginID" class="control-label">Login ID</label>
                    <input type="text" class="form-control" id="loginID" name="loginID" value="@Model.LoginID">
                </div>

                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="text" class="form-control" id="password" name="password" value="@Model.Password">
                </div>
            </td>
        </tr>
    </table>
</form>
